<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Assemblies"
         value="Impl1,Implementations1.Implementation,Implementations1.dll,
                Impl2,Implementations2.Implementation,Implementations2.dll" />
    <add key="Impl2" value="Implementations2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6bc4c8c27c08ba48" />
  </appSettings>
  <configSections>
    <section name="loader" type="Definitions.LoaderSection,Definitions" />
  </configSections>
  <loader easyname="Impl1" typename="Implementations1.Implementation" assemblyname="Implementations1.dll" />
  <!--<mySettings>
    <add key="Setting1" value="Very" />
    <add key="Setting2" value="Easy" />
 </mySettings>-->

  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
